.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

@media (min-width: 744px) {
  .container {
    gap: 4rem;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 4.8rem;
  }
}
