.container {
  display: none;
}

@media (min-width: 744px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22rem;

    padding-top: 12.4rem;
  }
}

@media (min-width: 1440px) {
  .container {
    display: none;
  }
}
