.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
}

@media (min-width: 744px) {
  .container {
    gap: 6rem;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 16.4rem;
  }
}
