.custom-calendar {
  width: 100%;
  max-width: 31.2rem;
}

.custom-calendar .react-calendar {
  border: none;
  width: 100%;
}

.custom-calendar .react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.custom-calendar .react-calendar__navigation__label {
  order: 1;
  flex-grow: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
}

.custom-calendar .react-calendar__navigation__prev-button {
  order: 2;
  margin-left: auto;
  min-width: 4.4rem;
  background-color: transparent;
}

.custom-calendar .react-calendar__navigation__next-button {
  order: 3;
  min-width: 4.4rem;
  background-color: transparent;
}

.custom-calendar .react-calendar__navigation__next-button {
  margin-left: 0.5rem;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday {
  border-top: 0.1rem solid var(--blue-200);
  border-bottom: 0.1rem solid var(--blue-200);
}

.custom-calendar .react-calendar__tile {
  border-bottom: 0.1rem solid var(--blue-200);
}

.custom-calendar .react-calendar__month-view__weekdays__weekday abbr {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--gray-200);
  text-decoration: none;
}

.custom-calendar .react-calendar__tile--now {
  background: none;
  border: 0.2rem solid var(--state);
  border-radius: 0.8rem;
}

.custom-calendar .react-calendar__tile.has-emotion abbr {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--gray-200);
}

.custom-calendar .react-calendar__tile:not(.has-emotion) abbr {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--gray-200);
}

.custom-calendar .tile-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-calendar .emoji-icon {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-calendar .emoji-icon svg {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday,
.custom-calendar .react-calendar__tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday,
.custom-calendar .react-calendar__tile {
  width: 4.4rem;
  height: 4.4rem;
}

.custom-calendar .react-calendar__month-view__days__day {
  pointer-events: none;
  cursor: default;
}

.custom-calendar .react-calendar__tile:enabled:hover,
.custom-calendar .react-calendar__tile:enabled:focus {
  background: none;
}

@media (min-width: 744px) {
  .custom-calendar {
    max-width: 38.4rem;
  }
  .custom-calendar .react-calendar__month-view__weekdays__weekday,
  .custom-calendar .react-calendar__tile {
    width: 5.4rem;
    height: 5.4rem;
  }
  .custom-calendar .emoji-icon,
  .custom-calendar .emoji-icon svg {
    width: 3.2rem;
    height: 3.2rem;
  }
  .custom-calendar .react-calendar__navigation__label {
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .custom-calendar {
    max-width: 64rem;
  }
  .custom-calendar .react-calendar__month-view__weekdays__weekday,
  .custom-calendar .react-calendar__tile {
    width: 9rem;
    height: 9rem;
  }
  .custom-calendar .emoji-icon,
  .custom-calendar .emoji-icon svg {
    width: 5.4rem;
    height: 5.4rem;
  }
  .custom-calendar .react-calendar__navigation__label {
    font-size: 2.4rem;
  }
  .custom-calendar .react-calendar__tile.has-emotion abbr {
    font-size: 1.4rem;
  }
  .custom-calendar .react-calendar__tile:not(.has-emotion) abbr {
    font-size: 2rem;
  }
}
