.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  height: 60rem;

  background-color: #f0f0f0;
  background-image: linear-gradient(#dadada 0.1rem, transparent 0.1rem);
  background-size: 100% 2.5rem;

  --mask: conic-gradient(from 135deg at top, #000 90deg, #0000 0) left / 2rem
    100% repeat-x;

  --webkit-mask: var(--mask);
  mask: var(--mask);
}

.title {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  text-align: center;
}

.btn {
  padding: 1.1rem 2.8rem;

  border-radius: 1.2rem;
  text-decoration: none;

  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: var(--blue-100);
  background-color: var(--black-500);
}

@media (min-width: 1440px) {
  .title {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .btn {
    padding: 1.6rem 10.8rem;

    font-size: 2rem;
    line-height: 3.2rem;
  }
}
