.container {
  display: flex;
  flex-direction: column;
  height: 62rem;

  background-color: #f0f0f0;
  background-image: linear-gradient(#dadada 0.1rem, transparent 0.1rem);
  background-size: 100% 2.5rem;

  --mask:
    conic-gradient(from -45deg at bottom, #000 90deg, #0000 0) left / 2rem 100%
    repeat-x;
  --webkit-mask: var(--mask);
  mask: var(--mask);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.title {
  font-family: var(--font-family-batang);
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 400;
  text-align: center;
}

.sub_title {
  font-family: var(--font-family-batang);
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.btn {
  padding: 1.1rem 2.8rem;
  border-radius: 1.2rem;
  background-color: var(--black-500);
  color: var(--blue-100);
  text-decoration: none;

  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
}

.more_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2rem;
}

.scroll_text {
  color: var(--blue-400);

  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
}

.scroll_icon {
  width: 2.4rem;
  height: 2.4rem;
}

@media (min-width: 744px) {
  .content {
    gap: 2.8rem;
  }

  .title {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }

  .sub_title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .more_container {
    padding-bottom: 2.4rem;
  }

  .scroll_text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 1440px) {
  .container {
    height: 104rem;
  }

  .content {
    gap: 4.4rem;
  }

  .title {
    font-size: 4rem;
    line-height: 6.4rem;
  }

  .sub_title {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .btn {
    padding: 1.6rem 10.8rem;

    font-size: 2rem;
    line-height: 3.2rem;
  }

  .more_container {
    padding-bottom: 5.8rem;
  }
}
