.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 36rem;
  gap: 1rem;
}

@media (min-width: 744px) {
  .container {
    max-width: 38.4rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 64rem;
  }
}
