.container {
  display: flex;
  width: 100%;
  max-width: 31.2rem;
  justify-content: space-around;

  border: none;
}

@media (min-width: 744px) {
  .container {
    max-width: 36.8rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 59.2rem;
  }
}
