.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

@media (min-width: 744px) {
  .container {
    gap: 3.2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 4rem;
  }
}
