.menu_icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 33.33%;
  min-width: 200px;
  height: 100%;
  gap: 1.2rem;
  background-color: white;
  z-index: 1000;
  transition: left 0.3s ease;
  padding: 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  left: 0;
}

.sidebar_header {
  display: flex;
  justify-content: end;
}

.close_btn {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  border: none;
  background-color: var(--blue-100);
}

.close_icon {
  width: 2.4rem;
  height: 2.4rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav_list > a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black-600);
}

@media (min-width: 744px) {
  .menu_icon,
  .sidebar,
  .overlay {
    display: none;
  }
}
