.error_container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container {
  display: flex;
  width: 100%;
  max-width: 31.2rem;
  flex-direction: column;
  gap: 1.6rem;
}

.label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: var(--blue-900);
}

.input_container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 4.4rem;
  padding-left: 1.6rem;
  padding-right: 4rem;

  border: none;
  border-radius: 1.2rem;
  background-color: var(--blue-200);

  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--blue-950);
}

.input::placeholder {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--blue-400);
}

.input:focus {
  outline: 1px solid var(--blue-800);
}

.visible_btn {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.on {
  width: 2.4rem;
  height: 2.4rem;
}

.off {
  width: 2.4rem;
  height: 2.4rem;
}

.error_text {
  padding-left: 1rem;
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: var(--state);
}

.input_error {
  outline: 1px solid var(--state);
}

.input_error:focus {
  outline: 1px solid var(--blue-800);
}

@media (min-width: 744px) {
  .container {
    max-width: 38.4rem;
    gap: 2rem;
  }

  .label {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 64rem;
  }

  .label {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .input {
    height: 6.4rem;

    font-size: 2rem;
    line-height: 3.2rem;
  }

  .input::placeholder {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .error_text {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
