.user_container {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.6rem;
}
.user_icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--gray-300);
}

.nickname {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: var(--gray-300);
}

@media (min-width: 1440px) {
  .user_icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .nickname {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
