.container {
  display: flex;
  margin: 0 auto;
  padding: 2.4rem 0;
  width: 100%;
  max-width: 31.2rem;
  flex-direction: column;
  gap: 2.4rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-700);
}

@media (min-width: 744px) {
  .container {
    max-width: 38.4rem;
    padding: 3.2rem 0;
    gap: 3.2rem;
  }

  .title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 64rem;
    padding: 5.6rem 0;
    gap: 4rem;
  }

  .title {
    font-size: 2.4rem;
  }
}
