.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.profile_container {
  width: 8rem;
  height: 8rem;
  position: relative;
}

.label_container {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--blue-100);
  border: 0.2rem solid var(--gray-100);
}

.label_container:hover {
  opacity: 0.8;
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview_image {
  object-fit: cover;
}

.default_image {
  object-fit: contain;
  padding: 2rem;
}

.loading_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  z-index: 10;
  border-radius: 50%;
}

.nickname {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black-950);
}

.logout {
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 10rem;
  background-color: var(--line-100);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-300);
  cursor: pointer;
}

@media (min-width: 1440px) {
  .profile_container {
    width: 12rem;
    height: 12rem;
  }

  .nickname {
    font-size: 2.4rem;
  }

  .logout {
    font-size: 2rem;
  }
}
