.container {
  display: flex;
  width: 100%;
  max-width: 31.2rem;
  flex-direction: column;
  gap: 2.4rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-600);
}

@media (min-width: 744px) {
  .container {
    max-width: 38.4rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 64rem;
  }

  .title {
    font-size: 2.4rem;
  }
}
