.container {
  display: flex;
  padding: 3.2rem 0;
  align-items: center;
  flex-direction: column;
  gap: 7.2rem;
}

.epigrams_container {
  display: flex;
  width: 100%;
  max-width: 31.2rem;
  flex-direction: column;
  gap: 5.6rem;
}

.epigram_today_container,
.emotion_container,
.new_feed_epigrams_container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.epigram_today_title,
.emotion_title,
.new_feed_epigrams_title,
.comments_title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-600);
}

.comments_container {
  display: flex;
  width: 100%;
  max-width: 36rem;
  flex-direction: column;
  gap: 1.6rem;
}

.comments_title {
  width: 100%;
  max-width: 31.2rem;
  align-self: center;
}

.create_epigram_btn {
  width: 2.4rem;
  height: 2.4rem;

  position: fixed;
  right: 1.5rem;
  bottom: 1rem;

  padding: 1.2rem;
  box-sizing: content-box;

  border-radius: 10rem;
  background-color: var(--blue-900);
  box-shadow: 0 0.4rem 0.4rem 0 #55555540;
}

@media (min-width: 744px) {
  .epigrams_container,
  .comments_title,
  .comments_container {
    max-width: 38.4rem;
  }

  .create_epigram_btn {
    right: 3rem;
    bottom: 2rem;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 12rem 0;
    gap: 16rem;
  }

  .epigrams_container {
    max-width: 64rem;
    gap: 14rem;
  }

  .epigram_today_container,
  .emotion_container,
  .new_feed_epigrams_container {
    gap: 4rem;
  }

  .epigram_today_title,
  .emotion_title,
  .new_feed_epigrams_title,
  .comments_title {
    font-size: 2.4rem;
  }

  .comments_container {
    max-width: 64rem;
    gap: 4rem;
  }

  .comments_title {
    max-width: 64rem;
  }

  .create_epigram_btn {
    right: 6rem;
    bottom: 4rem;
  }
}
