.container {
  display: flex;
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0.8rem 2.4rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.logo_container {
  display: block;
  max-height: 3.6rem;
}

.logo_icon {
  display: block;
  max-width: 11.9rem;
  max-height: 3.6rem;
}

.search_container,
.person_container {
  display: block;
  max-height: 2rem;
}

.search_icon,
.person_icon {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 744px) {
  .container {
    padding: 2rem 7.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 2.2rem 12rem;
  }

  .logo_container {
    max-height: 4.8rem;
  }

  .logo_icon {
    max-width: 17.2rem;
    max-height: 4.8rem;
  }

  .search_container,
  .person_container {
    max-height: 3.6rem;
  }

  .search_icon,
  .person_icon {
    width: 3.6rem;
    height: 3.6rem;
  }
}
